.navClass{
    background: rgba(216, 216, 216, 0.781);
    box-shadow: rgb(255 255 255 / 56%) 2px 1px 7px 0px;
    padding: 5px 100px;
}

@media (max-width: 576px) {
    .navClass{
        padding: 5px 50px;
    }
 }