.card {
    position: relative;
    height: 250px;
  }

  
  .card__side {
    height: 250px;
    padding: 20px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  
  .card__side--front {
    background-color: #fff;
  }
  
  .card__side--front-1 {
    background: linear-gradient(-45deg, #43cea2, #185a9d);
  }
  
  /* .card__side--front-2 {
    background: linear-gradient(-45deg, #f321d7, #ffec61);
  }
  
  .card__side--front-3 {
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
  } */
  
  .card__side--back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .card__side--back-1 {
    background: linear-gradient(-45deg, #43cea2, #185a9d);
  }
  
  
  .card:hover .card__side--front-1 {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  
  .card__title {
    
    padding: 1rem .2rem .2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .card__title--1 .fas {
    font-size: 5rem;
  }
 
  .card__heading {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    
  }
  
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  
  .card__details {
    padding: 0 1rem 1rem;
  }
  .card__details p{
      color: #fff;
      text-align: center;
  }
  
  /* .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  
  .card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
   */
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
  }
  
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  
  .card__price-value {
    font-size: 1rem;
    font-weight: 100;
  }


  