@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
section{
  padding: 50px 100px;
}
.brnad-button{
  padding: 10px 20px;
  background: linear-gradient(-45deg, #43cea2, #185a9d);
  border-radius: 10px;
  color: #ffff;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 2s;
}
.brnad-button:hover{
  background: linear-gradient(45deg, #43cea2, #185a9d);
}

@media only screen and (max-width: 600px) {
  section{
    padding: 25px 50px;
  }
  
}